{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Beautiful Small Homes" "subtitle" "Sustainable living by living minimally") }}

{{ partial "short-text" (dict "heading" "Why Arch Cabins?" "text" "Arch Cabins are houses everyone can afford. Everyone who believes that living shouldn't just be affordable, it should do look and feel good too. We source all of our woods and materials directly from small scale sustainable farmers and make sure part of the profits are reinvested in their communities.")}}

{{ partial "2-up" (dict "heading" "What We Offer" "description" "ArchCabins is the ultimate spot for humans who want to learn about living with the land and support the farmers and builders who make them. We take small home production, design and assembly seriously and we’re glad to pass that knowledge to anyone." "svg1" "img/illustrations/coffee.svg" "text1" "We sell the materials that are sourced directly from independent farmers and farm cooperatives.  Check our post or contact us directly for current availability." "svg2" "/img/illustrations/coffee-gear.svg" "text2" "We offer a swant to build your own or just bought your Arch Cabin, you’ll find a gadget to fall in love with in our shop." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our Values" "text" "Arch Cabins are the antidote to over-crowding and un-affodable housing. While architecture is an amazing part of human culture but it has a dark side too – one of colonialism and mindless abuse of natural resources and destroying human lives by making housing out of reach of whole sectors of people. We want to turn this around and return anyone who needs one a way to live affordably in luxury and style." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
